body {
  text-align: center;
  align-items: center;
  margin: auto;
  color: black;
  background-color: #631721;
}
.searchBox {
  margin: auto;
  max-width: 700px;
}
.outBox {
  text-align: left;
  margin: auto;
  margin-bottom: 20px;
  max-width: 1000px;
  border-style: solid;
  border-color: #52016b;
  border-radius: 7px;
  background-color: #52016b;
}
.headingBox {  
  margin: -1px -1px auto -1px;
  max-width: 1000px;
  border-style: solid;
  border-color: #52016b;
  border-radius: 7px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #d6b9ad;
  padding: 10px;
}
.bodyBox {
  background-color: #e0e0e0;
  border-color: #52016b;
  border-radius: 1px;
  padding: 10px;
}
.btn-secondary {
  font-weight: bold;
}