html {
  font-family: 1rem/1.5 Arial, Helvetica, sans-serif;
}

body {  
  text-align: left;
  margin: auto;
  max-width: 700px;
  color: #000;
}

h1, h2, h3, div, footer {
  margin-bottom: 1.5rem;
}

a {
  color: #0c2057;
}

a:hover {
  color: #14348c;
}

h1 {  
  font: 4rem 'Roboto Slab', serif;
  color: #570c16;
}

.out-box {
  margin-bottom: 3rem;
  border: 2px solid #57520c;
  box-shadow: 1px 1px 1px #000;  
}
.heading-box h3{
  font-family: 'Roboto Slab', serif;
}

.btn {
  background: #57520c;  
}

.btn:hover {
  background: #877f11;
}
.search-title {
  float: right;  
}

.search-box {
  padding-right: .75rem;
}

h1, footer, .out-box {
  padding: .375rem .75rem; /*Match Bootstrap buttons for alignment. */
}

.search-title, #random-search {
  padding: .1875rem .75rem;
}