html {
  font-family: 1rem/1.5 Arial, Helvetica, sans-serif;
  background: radial-gradient(rgba(255,255,255,0.1),rgba(255,255,255,1) 650px),
   url("https://upload.wikimedia.org/wikipedia/commons/4/4a/Graz_University-Library_reading-room.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-attachment: fixed, fixed;
  background-size: 100%, 1600px 1200px;
}

body {  
  text-align: left;
  margin: auto;
  max-width: 750px;
  background: transparent;
  color: #000;
}

header, .heading-box, footer, #random-search {
  margin-bottom: 1.5rem;
}

h1, footer, .out-box {
  /* Match Bootstrap buttons for alignment. */
  padding: .375rem .75rem;  
}

h1, .search-box {
  margin-bottom: 3rem;
}

a {
  color: #0c2057;
}

a:hover {
  color: #2c4077;
}

h1 {  
  font: 4rem 'Roboto Slab', serif;
  color: #570c16;
}

h3 {  
  font-family: 'Roboto Slab', serif;
  word-break: break-word
 }

footer {
  font-family: 'Roboto Slab', serif;
  font-size: 0.9em;  
}

.search-box {
  padding-right: .75rem;
}

.search-title, #random-search {
  padding: .1875rem .75rem;
}

.out-box {
  margin-bottom: 3rem;
  border: 1px solid #000;
  box-shadow: 1px 1px #000;
  background: #fff;  
}

.heading-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.btn {
  background: #16570c;  
}

.btn:hover {
  background: #36772c;
}

.btn:focus {  
  box-shadow: none;
}

.search-title {
  font-size: .9em;
  background: #572c0c;
}

.search-title:hover {
  background: #774c2c;
}

@media only screen and (max-width: 1600px) {
  html {
    background: radial-gradient(rgba(255,255,255,0.1),rgba(255,255,255,1) 60%),
    url("https://upload.wikimedia.org/wikipedia/commons/4/4a/Graz_University-Library_reading-room.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-attachment: fixed, fixed;
    background-size: 100%, 1600px 1200px;  }
}

@media only screen and (max-width: 460px) {
  html {
    font-size: 0.95rem;
  }
}

@media only screen and (max-width: 420px) {
  html {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 380px) {
  html {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 340px) {
  html {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 300px) {
  html {
    font-size: 0.75rem;
  }
}